<div id="pins" class="transitions-enabled">
    <div class="box panel panel-default">

	 <%= link_to (image_tag pin.image(:medium)), pin %>
		<div class="panel-body">
	 	<p class="pin.description">
		<%= pin.description %>
	</p>
	<p>	
		<strong>
			Uploaded by <%= pin.user.name %>
		</strong>
	</p>	
	<p>	
		<%= link_to like_pin_path(pin), class: "like", method: :put do %>
		<button type ="button" class ="btn btn-success" aria-label="Left Align">
		<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
		<span class="badge"><%= pin.get_upvotes.size %></span>
		</button>
		<% end %>
		  <% if current_user == pin.user %> 
	
		
		<%= link_to edit_pin_path(pin) do %>
		
		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit

		<% end %>

		<%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
		
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete

		<% end %>
	</p>

		<% end %> 

	</div>
	</div>
</div>